<div class="example-container">
    <h2>To do</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[inProgreslist, completedList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of todo; track item) {
        <div class="example-box" cdkDrag>{{item}}</div>
      }
    </div>
  </div>
  
  <div class="example-container">
    <h2>In progress</h2>
  
    <div
      cdkDropList
      #inProgreslist="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[todoList, completedList ]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of inProgress; track item) {
        <div class="example-box" cdkDrag>{{item}}</div>
      }
    </div>
  </div>

  <div class="example-container">
    <h2>Completed</h2>
  
    <div
      cdkDropList
      #completedList="cdkDropList"
      [cdkDropListData]="completed"
      [cdkDropListConnectedTo]="[inProgreslist, todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of completed; track item) {
        <div class="example-box" cdkDrag>{{item}}</div>
      }
    </div>
  </div>
  
  
  